@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	background: #eee;
}
.LayoutDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

textarea {
	resize:vertical;
	min-height:50%;
	min-width:50%;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
textarea {
	resize:vertical;
	min-height:50%;
	min-width:50%;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
textarea {
	resize:vertical;
	min-height:50%;
	min-width:50%;
}
}